<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>userLoginProcessing</servlet-name>
        <servlet-class>user.userLoginProcessing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userRegisterProcessing</servlet-name>
        <servlet-class>user.userRegisterProcessing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userBookingAction</servlet-name>
        <servlet-class>user.userBookingAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userProfileAction</servlet-name>
        <servlet-class>user.userProfileAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userLoginProcessing</servlet-name>
        <url-pattern>/userLoginProcessing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userRegisterProcessing</servlet-name>
        <url-pattern>/userRegisterProcessing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userBookingAction</servlet-name>
        <url-pattern>/userBookingAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userProfileAction</servlet-name>
        <url-pattern>/userProfileAction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>jdbc:derby://localhost:1527/RainbowDB</description>
        <res-ref-name>rainbowDBReference</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
